:root {
  --color-original: #800000;
  --color-light-primary: #982b1c;
  --color-secondary: #dad4b5;
  --color-white: #f2e8c6;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 700px; 
  

  
  
}

.image-hero-div{
  position: relative;
  top: 0px;
  width:100%;
  height:100%;
  object-fit: cover;
}

.hero-image {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%; /* Ensure it stretches the full width */
  height: 100%;
  object-fit: cover;
  filter: blur(9px);
  z-index: -1;
  border-radius: 0%;
}
@media screen and (max-width: 1366px) {
  .hero-section {
    background-color: var(--color-original);
    position: relative;
  }
}
.overly-darkened{
  position: absolute;
  z-index: 2;
}
.hero-content {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-text {
  color: var(--color-white);
  font-weight: 1000;
  font-size: 10rem;
  padding-top: 20rem;
}
.hero-paragraph {
  font-size: 3rem;
  color: black;
}
.hero-button {
  border-radius: 40%;
  background-color: var(--color-light-primary);
  color: var(--color-secondary);
  justify-content: center;
  width: 15rem;
  height: 5rem;
  border-style: double var(--color-secondary);
  font-size: 2rem;
}
.button-styles {
  padding-top: 3rem;
}
